
@{
    ViewBag.Title = "Album";
    }
<div class="body_album">
    <hr />
    <h1 class="colorh2">✯ Album </h1>

    <div class="col-sm-4">
        <div class="div_album1">
            <img src="~/Image/conCD.jpg" style="width:292px; height:260px; margin-left:10px; margin-right:10px; margin-top:10px;"/>
            <h3 class="coloralbum">Concert Carla's Dreams</h3>
            <p class="coloralbum"><b>Locatis:</b> Arenele Romane, Bucuresti-2017</p>
        </div>
     </div>
    <div class="col-sm-4">
        <div class="div_album2">
            <img src="~/Image/sumWell.jpg" style="width:310px; height:260px; margin-left:10px; margin-right:10px; margin-top:10px;" />
            <h3 class="coloralbum">Summer Well Festival</h3>
            <p class="coloralbum"><b>Location:</b> Domeniul Stirbey, Buftea-2017</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="div_album3">
            <img src="~/Image/standMic.jpg" style="width:292px; height:260px; margin-left:10px; margin-right:10px; margin-top:10px;" />
            <h3 class="coloralbum">Stand up Micutzu</h3>
            <p class="coloralbum"><b>Locatis:</b> Club 99, Bacau-2018</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="div_album1">
            <img src="~/Image/unatc.jpg" style="width:292px; height:260px; margin-left:10px; margin-right:10px; margin-top:10px;" />
            <h3 class="coloralbum">Spectacol treatru</h3>
            <p class="coloralbum"><b>Locatis:</b> Palatul National al Copiilor, Bucuresti</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="div_album2">
            <img src="~/Image/conDe.jpg" style="width:310px; height:260px; margin-left:10px; margin-right:10px; margin-top:10px;" />
            <h3 class="coloralbum"> Concert Delia</h3>
            <p class="coloralbum"><b>Locatis:</b> Arenele Romane, Bucuresti-2017</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="div_album3">
            <img src="~/Image/unt.jpg" style="width:295px; height:260px; margin-left:10px; margin-right:10px; margin-top:10px;" />
            <h3 class="coloralbum">Untold Festival</h3>
            <p class="coloralbum"><b>Locatis:</b> Cluj-Napoca, Romania.-2017</p>
        </div>
    </div>

    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>


    </div>

