@{
    ViewBag.Title = "Contact";
}

<div class="body_contact">
    <hr />
    <h2 class="colorh2">✎✉ @ViewBag.Title</h2>
    <br />
    <div class="col-sm-6">
        <div class="left">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJx00e5WFbs0ARBeBoSlD5Lqg&key=AIzaSyAdrBx8AWCHuLky6h1yWycme85Hc6sV0Q0" width="570" height="375" frameborder="2" style="border:0 " allowfullscreen>   </iframe>
        </div>
     </div>

        <div class="col-sm-6">
            <div class="div_address">
                <p>.</p>
                <h4 class="alignh4 text_registre">BRASOV</h4>
                <h4 class="alignh4 text_registre">Str.Pe Tampa,69</h4>
                <h4 class="alignh4 text_registre">500069,Brasov</h4>
                <h4 class="alignh4 text_registre">Telefon: +4072658965</h4>
                <h4 class="alignh4 text_registre">E-Mail: goodvibe@gmail.ro</h4>
                <hr />
                <textarea name="comment" form="usrform" rows="5" cols="90" style="margin-left:90px; margin-right:30px;" placeholder="Trimite un mesaj" autofocus></textarea>
                <br/>
                <p></p>
                <button class="btn btn-default" style="margin-left:390px;" type="button" onclick="alert('Multumim pentru mesajul tau!')">Trimite</button>  
            </div>
        </div>

    </div>
