
@{
    ViewBag.Title = "Events";
}
<div class="body_eveni">
    <h2 class="colorh2">Event's ♩♬♫</h2>
    <h4 class="colorh4">Find your favorit event! </h4>
    <hr />
    <div class="col-sm-9">
        <div class="div_even1">
            <img src="~/Image/judete-romania.png" style="width:700px; height:540px; margin-left:10px; margin-right:10px;" />

        </div>
    </div>


    <div class="col-sm-1">
        <div class="div_even2">
            <h4 class="colorh4"> Country:</h4>
                <ul id="menuv">
                    <li>
                        ↶  A
                        <ul>
                            <li><input type="radio" />  Alba</li>
                            <li><input type="radio" />  Arad</li>
                            <li><input type="radio" />  Arges</li>
                        </ul>
                    </li>
                    <li>
                        ↶  B
                        <ul>
                            <li><input type="radio" />  Bacau</li>
                            <li><input type="radio" />  Bihor</li>
                            <li><input type="radio" />  Bistrita Nasaud</li>
                            <li><input type="radio" />  Botosani</li>
                            <li><input type="radio" />  Braila</li>
                            <li><input type="radio" />  Brasov</li>
                            <li><input type="radio" />  Bucuresti</li>
                            <li><input type="radio" />  Buzau</li>
                        </ul>
                    </li>
                    <li>
                        ↶  C
                        <ul>
                            <li><input type="radio" />  Calarasi</li>
                            <li><input type="radio" />  Caras Severin</li>
                            <li><input type="radio" />  Cluj</li>
                            <li><input type="radio" />  Constanta</li>
                            <li><input type="radio" />  Covasna</li>
                        </ul>
                    </li>
                    <li>
                        ↶  D
                        <ul>
                            <li><input type="radio" />  Dambovita</li>
                            <li><input type="radio" />  Dolj</li>
                        </ul>
                    </li>
                    <li>
                        ↶  G
                        <ul>
                            <li><input type="radio" />  Galati</li>
                            <li><input type="radio" />  Giurgiu</li>
                            <li><input type="radio" />  Gorj</li>
                        </ul>
                    </li>
                    <li>
                        ↶  H
                        <ul>
                            <li><input type="radio" />  Harghita</li>
                            <li><input type="radio" />  Hunedoara</li>
                        </ul>
                    </li>
                    <li>
                        ↶  I
                        <ul>
                            <li><input type="radio" />  Ialomita</li>
                            <li><input type="radio" />  Iasi</li>
                            <li><input type="radio" />  Ilfov</li>
                        </ul>
                    </li>
                    <li>
                        ↶  M
                        <ul>
                            <li><input type="radio" />  Maramures</li>
                            <li><input type="radio" />  Mehedinti</li>
                            <li><input type="radio" />  Mures</li>
                        </ul>
                    </li>
                    <li>
                        <input type="radio" /> Neamt
                    </li>
                    <li>
                        <input type="radio" /> Olt
                    </li>
                    <li>
                        <input type="radio" /> Prahova
                    </li>
                    <li>
                        ↶  S
                        <ul>
                            <li><input type="radio" />  Salaj</li>
                            <li><input type="radio" />  Satu Mare</li>
                            <li><input type="radio" />  Sibiu</li>
                            <li><input type="radio" />  Suceava</li>
                        </ul>
                    </li>
                    <li>
                        ↶  T
                        <ul>
                            <li><input type="radio" />  Teleorman</li>
                            <li><input type="radio" />  Timis</li>
                            <li><input type="radio" />  Tulcea</li>
                        </ul>
                    </li>
                    <li>
                        ↶  V
                        <ul>
                            <li><input type="radio" />  Valcea</li>
                            <li><input type="radio" />  Vaslui</li>
                            <li><input type="radio" />  Vrancea</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
   

    
            <div class="col-sm-4">
                <div class="div_even5">

                    <h4 class="colorh4"> Category:</h4>
                    <ul id="menuv">
                        <li>
                            Music  ↴
                            <ul>

                                <li> <input type="radio" />  Pop</li>
                                <li><input type="radio" />  Rock</li>
                                <li><input type="radio" />  Jazz</li>
                                <li><input type="radio" />  Hip Hop</li>
                                <li><input type="radio" />  Electronic</li>
                                <li><input type="radio" />  Something else</li>
                            </ul>
                        </li>
                        <li>
                            Festival  ↴
                            <ul>
                                <li><input type="radio" />  Art</li>
                                <li><input type="radio" />  Music</li>
                                <li><input type="radio" />  Film</li>
                                <li><input type="radio" />  Theatre</li>
                                <li><input type="radio" /> Something else</li>
                            </ul>
                        </li>
                        <li>
                            <input type="radio" /> Fairs
                        </li>
                        <li>
                            <input type="radio" />  Stand'up Comedy
                        </li>
                        <li>
                            <input type="radio" /> Exposition
                        </li>
                        <li>
                            Technologie  ↴
                            <ul>
                                <li><input type="radio" />  Electronics</li>
                                <li><input type="radio" />  IT and communications</li>
                                <li><input type="radio" />  Medical</li>
                                <li><input type="radio" />  Military</li>
                                <li><input type="radio" /> 	Robotics</li>
                                <li><input type="radio" />  Further reading</li>
                                <li><input type="radio" /> Something else</li>
                            </ul>
                        </li>
                        <li>
                            <input type="radio" /> Party
                        </li>
                    </ul>

                </div>
            </div>

    <div class="col-sm-4">
        <div class="div_even6">

            <h4 class="colorh4"> Price:</h4>
            <ul id="menuv">
                <li>
                    <input type="radio" /> Free
                </li>
                <li>
                    <input type="radio" /> 0-50 Lei
                </li>
                <li>
                    <input type="radio" />  50-100 Lei
                </li>
                <li>
                    <input type="radio" /> 100-150 Lei
                </li>
                <li>
                    <input type="radio" /> 150-200 Lei
                </li>
                <li>
                    <input type="radio" /> Over 200 Lei
                </li>
            </ul>
            <button type="button" class="btn btn-info  btn-lg" style="margin-top:150px;margin-left:100px; color:black;">Search</button>
        </div>
    </div>

            <div class="col-sm-4"></div>
            <div class="div_even4">
                <h4 class="colorh4"> Select data:</h4>
               
                    <div class="jzdbox1 jzdbasf jzdcal">

                        <div class="jzdcalt">
                            <button type="button" class="btn btn-primary btn-xs" style="margin-right:25px;"><</button>
                            Martie 2018
                            <button type="button" class="btn btn-primary btn-xs" style="margin-left:25px;">></button>
                        </div>

                        <span>Su</span>
                        <span>Mo</span>
                        <span>Tu</span>
                        <span>We</span>
                        <span>Th</span>
                        <span>Fr</span>
                        <span>Sa</span>

                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                        <span>11</span>
                        <span>12</span>
                        @*<span class="circle" data-title="2 month anniversary!">12</span>*@
                        <span>13</span>
                        <span>14</span>
                        <span>15</span>
                        <span>16</span>
                        <span>17</span>
                        <span>18</span>
                        <span>19</span>
                        <span>20</span>
                        <span>21</span>
                        <span>22</span>
                        <span>23</span>
                        <span>24</span>
                        <span>25</span>
                        <span>26</span>
                        <span>27</span>
                        <span>28</span>
                        <span>29</span>
                        <span>30</span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                        <span class="jzdb"><!--BLANK--></span>
                    </div>
                </div>
            </div>

